html, body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    margin: 0;
    padding: 1em;
}

.sites {
}

.site {
    display: inline-block;
    vertical-align: top;

    padding: 16px;
    margin: 0 0 8px 0;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.site img {
    width: 300px;
}

.site .heading {
    display: flex;
}

.site .heading .title {
    font-weight: bold;
}

.site .heading .preview {
    margin-left: auto;
    width: 18px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEwIDM4di05LjY1aDNWMzVoNi42NXYzWm0wLTE4LjM1VjEwaDkuNjV2M0gxM3Y2LjY1Wk0yOC4zNSAzOHYtM0gzNXYtNi42NWgzVjM4Wk0zNSAxOS42NVYxM2gtNi42NXYtM0gzOHY5LjY1WiIvPjwvc3ZnPg==");
    background-size: 18px;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .site {
        width: calc(100% - 32px);
    }

    .site img {
        width: 100%;
    }
}

.via-ad {
    font-size: 14px;
}
