{% extends "base.html" %}

{% block title -%}
    {{ config.title }}
{%- endblock %}

{% block content %}
    <p class="via-ad">
        De <a href="https://svia.nl/commissie/ict/" target="_blank"><b>via</b> ICT-commissie</a> zoekt commissieleden!
        Krijg je na webtech niet genoeg van websites programmeren, of zoek je juist iets meer geavanceerd om aan te werken,
        <a href="mailto:ict@svia.nl">stuur ons een mailtje</a>
        en kom langs bij één van onze werkmiddagen.
    </p>
    <div class="sites">
        {% for site in config.sites %}
            <div class="site">
                <div class="heading">
                    <span class="title">{{ site.title }}</span>
                    <a href="{{ url_for('static', filename='pages/' + site.name + '-latest.png') }}" class="preview" target="_blank"></a>
                </div>
                <a href="{{ site.url }}" rel="noreferrer">
                    <img src="{{ url_for('static', filename='pages/' + site.name + '-latest.jpg') }}"
                         alt="{{ site.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
